@import "tailwindcss";


body{
    background-color: gray-100;
    cursor: url('./assets/navi-cursor.svg') 16 16, auto;
}

:root {
    --color-primary: white; /* Fond principal clair */
     --color-secondary: #333333; /* Texte sombre */
  --color-tertiary: #c39f2d; /* Accent plus lumineux */
  --color-hover: #C5A46D; /* Variante hover adaptée */
  --color-block: #F2F2F3; /* Fond de bloc gris clair */
}

/*Dark mode*/
[data-theme="dark"] {
  --color-primary: rgb(0, 0, 0);      /* Fond principal sombre */
  --color-secondary: #f2f2f2;    /* Texte clair */
  --color-tertiary: #d1af3d;     /* Accent plus lumineux */
  --color-hover: #92723a;        /* Variante hover adaptée */
  --color-block: #53514b;        /* Fond de bloc gris foncé */
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: var(--color-tertiary);
  border-width: 1px;
}

:hover.swiper-button-next,
:hover.swiper-button-prev {
  background-color: var(--color-hover);
  color: var(--color-primary);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}

.swiper-pagination-bullet {
  background: var(--color-tertiary);
  opacity: 0.4;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}

/* index.css */
.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #b88b29; /* couleur tertiary */
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

